.star_rating {
  padding: 7px 14px 5px;
  background: #752989;
  border-radius: 4px;
  width: fit-content;
}

.star_rating label {
  display: inline-block;
}

.star_rating label input[type="radio"] {
  display: none;
}

.star_rating label .star {
  cursor: pointer;
}
